@model Order

<div>
    <div class="wrap-table-shopping-cart m-tb-30">
        <div>
            <span class="float-left p-t-10 font-weight-bold text-secondary">Ngày đặt: @Model.OrderDate.Value.ToString("HH:mm dd/MM/yyyy")</span>
            <span class="float-right p-all-10 @Model.StatusDisplay[1] border border-bottom-0 text-uppercase">@Model.StatusDisplay[0]</span>
        </div>

        <table class="table-shopping-cart">
            <tr class="table_row" style="height:80px">
                <td class="column-1 pr-3 border">Thông tin đặt hàng</td>
                <td class="column-1" colspan="4">
                    Họ và tên: <b>@Model.FullName</b><br />
                    Số điện thoại: <b>@Model.Phone</b><br />
                    Địa chỉ: <b>@Model.Address</b><br />
                    @if (Model.Note.IsNotBlank())
                    {
                        <span>Ghi chú: @Model.Note</span>
                    }
                </td>
            </tr>

            <tr class="table_head">
                <th class="column-1">Sản phẩm</th>
                <th class="column-2"></th>
                <th class="column-3 text-center">Giá</th>
                <th class="column-4 text-center">Số lượng</th>
                <th class="column-5 text-center">Tạm tính</th>
            </tr>

            @foreach (var item in Model.OrderDetails)
            {
                <tr class="table_row" style="height:80px">
                    <td class="column-1">
                        <div class="how-itemcart2">
                            <img src="~/Assets/images/products/@item.Product.Images.FirstOrDefault().ImageURL"
                                 alt="@item.Product.Name" class="w-75">
                        </div>
                    </td>
                    <td class="column-2">@item.Product.Name</td>
                    <td class="column-3 text-center">@Html.DisplayFor(x => item.Product.Price)</td>
                    <td class="column-4 text-center">
                        @item.Quantity
                    </td>
                    <td class="column-5" style="text-align:center">@Html.DisplayFor(x => item.Total)</td>
                </tr>
            }

            <tr class="table_row" style="height:40px">
                <td class="column-4 pr-3 border" colspan="3">Tổng tiền hàng</td>
                <td class="column-4 p-r-70" colspan="2">@Html.DisplayFor(x => Model.SubTotal) VNĐ</td>
            </tr>
            <tr class="table_row" style="height:40px">
                <td class="column-4 pr-3 border" colspan="3">Giảm giá</td>
                <td class="column-4 p-r-70" colspan="2">
                    @if (Model.CouponId != null)
                    {
                        <span>- @Html.DisplayFor(x => Model.Discount) VNĐ</span>
                    }
                </td>
            </tr>
            <tr class="table_row" style="height:40px">
                <td class="column-4 pr-3 border" colspan="3">Phí vận chuyển</td>
                <td class="column-4 p-r-70" colspan="2">Miễn phí</td>
            </tr>
            <tr class="table_row" style="height:40px">
                <td class="column-4 pr-3 border" colspan="3">Tổng thanh toán</td>
                <td class="column-4 p-r-70 text-danger font-weight-bold" colspan="2">@Html.DisplayFor(x => Model.GrandTotal) VNĐ</td>
            </tr>
            <tr class="table_row" style="height:40px">
                <td class="column-4 pr-3 border" colspan="3">Phương thức thanh toán</td>
                <td class="column-4 p-r-70" colspan="2">@Model.PaymentDisplay</td>
            </tr>
        </table>
    </div>
</div>
