@model IEnumerable<ProductVM>

<div class="row isotope-grid">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @item.CateCalss @item.PriceClass">
            <!-- Block2 -->
            <div class="block2">
                <div class="block2-pic hov-img0 @item.NewCalss" data-label="New">
                    <img src="~/Assets/images/products/@item.Product.Images.FirstOrDefault().ImageURL"
                         width="315" height="440">

                    <button class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                            <span class="newsort" hidden>@item.Product.ProductId</span>
                        Xem nhanh
                    </button>
                </div>

                <div class="author" hidden>@item.Product.Author</div>
                <div class="publisher" hidden>@item.Product.Publisher.Name</div>

                <div class="block2-txt flex-w flex-t p-t-14">
                    <div class="block2-txt-child1 flex-col-l ">
                        <a href="/san-pham/@item.Product.ProductId" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 name">
                            @item.Product.Name
                        </a>

                        <span class="stext-105 cl3">
                            <span class="text-danger pricesort">@Html.DisplayFor(x => item.Product.Price) VNĐ</span>
                        </span>
                    </div>

                    <div class="block2-txt-child2 flex-r p-t-3">
                        <button class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                            <img class="icon-heart1 dis-block trans-04" src="~/Assets/images/icons/icon-heart-01.png" alt="ICON">
                            <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Assets/images/icons/icon-heart-02.png" alt="ICON">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
