@model IEnumerable<Review>

@foreach (var item in Model.OrderByDescending(x => x.ReviewId))
{
    <div class="flex-w flex-t p-b-10">
        <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
            @if (item.Account.ImageURL.IsBlank())
            {
                <img src="~/Assets/images/avatars/avt.jpg" alt="@item.Account.FullName">
            }
            else
            {
                <img src="~/Assets/images/avatars/@item.Account.ImageURL" alt="@item.Account.FullName">
            }
        </div>
        <div class="size-207">
            <div class="flex-w flex-sb-m p-b-10">
                <span class="mtext-107 cl2 p-r-20">
                    @item.Account.FullName
                </span>

                @if (item.Rating != 0)
                {
                    <span class="fs-18 cl11">
                        @for (int i = 0; i < item.Rating; i++)
                        {
                            <i class="zmdi zmdi-star"></i>
                        }
                        @for (int i = 0; i < 5 - item.Rating; i++)
                        {
                            <i class="zmdi zmdi-star-outline"></i>
                        }
                    </span>
                }
            </div>
            <p class="stext-102 cl6" style="word-wrap:break-word">
                @item.Content
            </p>
            @if (Session["Account"] != null && (Session["Account"] as Account).Role == RoleUser.Admin)
            {
                <button class="pos-absolute text-danger" onclick="RemoveReview(@item.ReviewId)" style="right: 15px">Xoá</button>
            }
        </div>
    </div>
    <hr />
}


