@model Product

<script>
    document.getElementById('staticBackdropLabel').innerHTML = '@ViewBag.Label sản phẩm';
</script>

<div>
    <form id="productForm" method="post" enctype="multipart/form-data" action="/Admin/ProductAdmin/ProductUpsert">

        @Html.HiddenFor(model => model.ProductId)

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Tên sản phẩm</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @required = "required" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Hình ảnh</label>
                <span id="img">
                    @if (Model.Images != null)
                    {
                        foreach (var item in Model.Images)
                        {
                            <label class="how-itemcart1 d-inline-block" onclick="DeleteImage(this)" data-img="@item.ProductImageId">
                                <img src="/Assets/images/products/@item.ImageURL" />
                            </label>
                        }
                    }
                </span>

                <input hidden id="removeId" name="removeId" value="0"/>

                <label class="how-itemcart1 d-inline-block add-item" for="new-img">
                    <img src="~/Assets/images/icons/new-image.png" class="p-all-30" id="output"/>
                    <input hidden type="file" accept="image/*" id="new-img" multiple onchange="LoadImage(event)" name="imgFile"/>
                </label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 pr-2">
                <label>Danh mục</label>
                @Html.DropDownListFor(model => model.CategoryId, ViewBag.CategoryList as SelectList, "", new { @class = "form-control", @required = "required" })
            </div>

            <div class="form-group col-md-6 pl-2">
                <label>Nhà xất bản</label>
                @Html.DropDownListFor(model => model.PublisherId, ViewBag.PubliserList as SelectList, "", new { @class = "form-control", @required = "required" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 pr-2">
                <label>Tác giả</label>
                @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-6 pl-2">
                <label>Kích thước</label>
                @Html.TextBoxFor(model => model.Size, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 pr-2">
                <label for="inputName">Số trang</label>
                @Html.TextBoxFor(model => model.NumPage, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-6 pl-2">
                <label for="inputPhone">Giá tiền</label>
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", Value = String.Format("{0:0}", Model.Price) })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Mô tả</label>
                @Html.TextAreaFor(model => model.Description, 7, 1, new { @class = "form-control" })
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success" id="btnSubmit">
                @ViewBag.Label
            </button>
        </div>
    </form>
</div>
