@model  Order

@if (!Model.OrderDetails.Any())
{
    <div class="empty-cart m-l--15">
        <img src="~/Assets/images/layouts/empty-cart.png" alt="empty-cart" class="w-100" />
        <p class="empty-note mtext-101">Không có sản phẩm nào trong giỏ hàng của bạn.</p>
        <a href="/cua-hang" class="stext-101 cl0 bg1 bor1 hov-btn1 d-inline-block p-lr-40 p-tb-12 trans-04">
            Tiếp tục mua sắm
        </a>
    </div>
}
else
{
    <ul class="header-cart-wrapitem w-full">
        @foreach (var item in Model.OrderDetails)
        {
            <li class="header-cart-item flex-w flex-t m-b-12">
                <div class="header-cart-item-img">
                    <img src="~/Assets/images/products/@item.Product.Images.FirstOrDefault().ImageURL" alt="IMG">
                    <input class="productId" hidden value="@item.ProductId" />
                </div>

                <div class="header-cart-item-txt p-t-8">
                    <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                        @item.Product.Name
                    </a>

                    <span class="header-cart-item-info">
                        @item.Quantity x @Html.DisplayFor(x => item.Product.Price)
                    </span>
                </div>
            </li>
        }
    </ul>

    <input id="numCart" value="@Model.TotalQuantity" hidden />

    <div class="w-full">
        <div class="header-cart-total w-full p-tb-40">
            Tổng: @Html.DisplayFor(x => Model.GrandTotal) VNĐ
        </div>

        <div class="header-cart-buttons flex-w w-full">
            <a href="#" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                Giỏ hàng
            </a>

            <a href="#" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                Thanh toán
            </a>
        </div>
    </div>
}

<script>
    /*==================================================================
    [ Remove item from cart ]*/
    $('.header-cart-content').each(function () {
        $('.header-cart-item-img').on('click', function () {
            $.ajax({
                url: "/Cart/RemoveItem",
                type: "POST",
                data: {
                    "productId": $(this).find('.productId').val(),
                },
                success: function (data) {
                    $('.header-cart-content').load("/Cart/QuickCart", function () {
                        $('.icon-header-noti').attr('data-notify', data);
                        if (('.shopping-cart').length)
                            $('.shopping-cart').load('/Cart/ShoppingCart')
                    })
                },
                error: function (error) {
                    swal("Lỗi", "xoá khỏi giỏ hàng không thành công !", "error");
                }
            });
        });
    });
</script>