@model Order

<div class="container">
    @if (Model == null || Model.OrderDetails == null || !Model.OrderDetails.Any())
    {
        <div class="empty-cart">
            <img src="~/Assets/images/layouts/empty-cart.png" alt="empty-cart" />
            <p class="empty-note mtext-101">Không có sản phẩm nào trong giỏ hàng của bạn.</p>
            <a href="/cua-hang" class="stext-101 cl0 bg1 bor1 hov-btn1 d-inline-block p-lr-40 p-tb-12 trans-04">
                Tiếp tục mua sắm
            </a>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-10 col-xl-8 m-lr-auto m-b-50">
                <div class="m-r--30 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">

                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Sản phẩm</th>
                                <th class="column-2"></th>
                                <th class="column-3" style="text-align:center">Giá</th>
                                <th class="column-4" style="text-align:center">Số lượng</th>
                                <th class="column-5" style="text-align:center">Tổng</th>
                            </tr>

                            @foreach (var item in Model.OrderDetails)
                            {
                                <tr class="table_row">
                                    <td class="column-1">
                                        <button class="remove-item">
                                            <div class="how-itemcart1">
                                                <img src="~/Assets/images/products/@item.Product.Images.FirstOrDefault().ImageURL"
                                                     alt="@item.Product.Name" value="@item.ProductId">
                                            </div>
                                        </button>
                                    </td>
                                    <td class="column-2">@item.Product.Name</td>
                                    <td class="column-3" style="text-align:center">@Html.DisplayFor(x => item.Product.Price)</td>
                                    <td class="column-4">
                                        <div class="wrap-num-product flex-w m-auto m-r-0">
                                            <button class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" proId="@item.ProductId">
                                                <i class="fs-16 zmdi zmdi-minus"></i>
                                            </button>

                                            <input class="mtext-104 cl3 txt-center num-product" type="number" name="quantity" value="@item.Quantity">

                                            <button class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" proId="@item.ProductId">
                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="column-5" style="text-align:center">@Html.DisplayFor(x => item.Total)</td>
                                </tr>
                            }

                        </table>

                    </div>

                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Mã giảm giá">

                            <p class="text-danger coupon-message"></p>
                            @*<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                    Áp dụng
                                </div>*@
                        </div>

                        <button class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
                                name="update-coupon" orderId="@Model.OrderId">
                            Áp dụng
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-4 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-50 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 font-weight-bold cl2 p-b-30">
                        Đặt hàng
                    </h4>

                    <div class="flex-w flex-t bor12 p-b-20">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Tạm tính:
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="stext-110 cl3">
                                @Html.DisplayFor(x => x.SubTotal) VNĐ
                            </span>
                        </div>
                    </div>

                    <div class="flex-w flex-t bor12 p-t-20 p-b-20">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Mã giảm giá:
                            </span>
                        </div>

                        <div class="size">
                            @if (Model.CouponId != null)
                            {

                                <span class="stext-110 cl3">
                                    @Model.Coupon.Code (-@((Model.Coupon.Discount*100).Value.ToString("#,###"))%)
                                </span>
                            }
                            else
                            {
                                <span class="stext-110 cl3">
                                </span>
                            }
                        </div>
                    </div>

                    <div class="flex-w flex-t p-t-20 p-b-33">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Thành tiền:
                            </span>
                        </div>

                        <div class="size-209 p-t-1">
                            <span class="stext-110 cl3">
                                @Html.DisplayFor(x => x.GrandTotal) VNĐ
                            </span>
                        </div>
                    </div>

                    <button type="submit" name="checkout" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                        Tiến hành thanh toán
                    </button>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .swal-button--danger {
        background-color: #e64942;
        font-size: revert;
        font-weight: 600;
    }

    .swal-button--cancel {
        color: #555;
        font-size: revert;
        background-color: revert;
        font-weight: 600;
    }

    .swal-button:hover {
        color: white;
    }
</style>

<script>
    /*==================================================================
    [ Remove item from cart ]*/
    $('.table-shopping-cart').each(function () {
        $('.remove-item').on('click', function () {
            swal({
                text: "Bạn có chắc muốn xoá sản phẩm này khỏi giỏ hàng?",
                icon: "warning",
                buttons: true,
                dangerMode: true
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/Cart/RemoveItem",
                            type: "POST",
                            data: {
                                "productId": $(this).find('img').attr('value'),
                            },
                            success: function (data) {
                                $('.shopping-cart').load('/Cart/ShoppingCart', function () {
                                    $('.header-cart-content').load('/Cart/QuickCart', function () {
                                        toastr.success('Xoá sản phẩm thành công', '', { positionClass: "toast-bottom-right" });
                                        $('.icon-header-noti').attr('data-notify', data);
                                    })
                                })
                            },
                            error: function (error) {
                                swal("Lỗi", "xoá khỏi giỏ hàng không thành công !", "error");
                            }
                        });
                    }
                });
        });
    });

    /*==================================================================
    [ +/- num product ]*/
    $('.btn-num-product-down').on('click', function () {
        var numProduct = Number($(this).next().val());
        if (numProduct > 1) {
            $(this).next().val(numProduct - 1);
            UpdateQuantity($(this).attr('proId'), $(this).next().val());
        }
    });

    $('.btn-num-product-up').on('click', function () {
        var numProduct = Number($(this).prev().val());
        $(this).prev().val(numProduct + 1);
        UpdateQuantity($(this).attr('proId'), $(this).prev().val());
    });

    $('.num-product').on('focus', function () {
        let initNumber = Number($(this).val());
        $('.num-product').on('change', function () {
            let number = Number($(this).val());
            if (Number.isInteger(number) && number > 0) {
                UpdateQuantity($(this).prev().attr('proId'), number);
            }
            else {
                toastr.error('Số lượng không hợp lệ', '', { positionClass: "toast-bottom-right" });
                $(this).val(initNumber);
            }
        });
    });

    /*==================================================================
    [ Update coupon ]*/
    $("[name='update-coupon']").on('click', function () {
        $.ajax({
            url: "/Cart/UpdateCoupon",
            type: "POST",
            data: {
                "orderId": $(this).attr('orderId'),
                "code": $("[name='coupon']").val()
            },
            success: function (data) {
                if (data == 'OK') {
                    $('.shopping-cart').load('/Cart/ShoppingCart', function () {
                        $('.header-cart-content').load('/Cart/QuickCart', function () {
                            toastr.success('Đã áp dụng mã giảm giá', '', { positionClass: "toast-bottom-right" })
                        })
                    })
                }
                else {
                    $('.coupon-message').text(data)
                }

            },
            error: function (error) {
                swal("Lỗi", "sử dụng mã giảm giá không thành công !", "error");
            }
        });
    })
</script>