@{
    ViewBag.Title = "Thanh toán";
}

@model Order

<div class="checkout">
    <div class="container">
        <div class="title">
            <h2>Thông tin thanh toán</h2>
        </div>
        <div class="d-flex">
            <form action="" method="post">
                <label>
                    <span class="fname">Họ và tên <span class="required">*</span></span>
                    <input type="text" name="fullName" value="@Model.Account.FullName">
                </label>
                <label>
                    <span>Số điện thoại <span class="required">*</span></span>
                    <input type="tel" name="phone" value="@Model.Account.Phone">
                </label>
                <label>
                    <span>Tỉnh/Thành phố <span class="required">*</span></span>
                    <select name="city">
                        <option value="0" hidden>Chọn tỉnh/thành phố</option>
                    </select>
                </label>
                <label>
                    <span>Quận huyện <span class="required">*</span></span>
                    <select name="district">
                        <option value="0" hidden>Chọn quận huyện</option>
                    </select>
                </label>
                <label>
                    <span>Phường xã <span class="required">*</span></span>
                    <select name="commune">
                        <option value="0" hidden>Chọn phường xã</option>
                    </select>
                </label>
                <label>
                    <span>Địa chỉ chi tiết <span class="required">*</span></span>
                    <input type="tel" name="street" placeholder="Nhập địa chỉ chi tiết (đường, thôn, ấp, số nhà, ...)">
                </label>
                <label>
                    <span>Ghi chú</span>
                    <input type="tel" name="note">
                </label>
            </form>
            <div class="Yorder">
                <h5>Đơn hàng của bạn</h5>
                @foreach (var item in Model.OrderDetails)
                {
                    <div class="row">
                        <div class="col-md-10">
                            <p>@item.Quantity x @item.Product.Name</p>
                        </div>
                        <div class="col-md-2">
                            <p class="float-right price">@Html.DisplayFor(x => item.Total)</p>
                        </div>
                    </div>
                }
                <hr>
                <h5>Tạm tính <span class="float-right price p-r-15">@Html.DisplayFor(x => Model.SubTotal) VNĐ</span></h5>
                <hr>
                <h5>
                    Mã giảm giá
                    @if (Model.CouponId != null)
                    {

                        <span class="float-right p-r-15 price">
                            @Model.Coupon.Code (-@((Model.Coupon.Discount*100).Value.ToString("#,###"))%)
                        </span>
                    }
                </h5>
                <hr>
                <h5>Phí vận chuyển</h5>
                <hr>
                <h5>Tổng tiền <span class="float-right p-r-15 text-danger">@Html.DisplayFor(x => Model.GrandTotal) VNĐ</span></h5>
                <hr>
                <h5>Hình thức thanh toán</h5>
                <div>
                    <input type="radio" name="dbt" value="dbt" id="momo">
                    <label for="momo" class="d-inline"> Thanh toán bằng ví Momo</label>
                    <img width="32" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-mo-mo.svg" alt="momo">
                </div>
                <div class="pt-0">
                    <input type="radio" name="dbt" value="tt" id="tt" checked>
                    <label for="tt" class="d-inline">Thanh toán khi nhận hàng</label>
                    <img width="32" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-cod.svg" alt="cod">
                </div>
                <button type="button" class="p-t-15">Đặt hàng</button>
            </div><!-- Yorder -->
        </div>
    </div>
</div>

@if (Model.Account.Address.IsNotBlank())
{
    <script>
        $.getJSON("Assets/json/tinh_tp.json", function (data) {
            $.each(data, function (key, val) {
                $("select[name='city']").append("<option code='" + val.code + "' value='"
                    + val.slug + "'>" + val.name_with_type + "</option>");
            });
            var code = BindAddress('@Model.Account.City', 'city');
            $.getJSON("Assets/json/quan-huyen/" + code + ".json", function (data) {
                $.each(data, function (key, val) {
                    $("select[name='district']").append("<option code='" + val.code + "' value='"
                        + val.slug + "'>" + val.name_with_type + "</option>");
                });
                code = BindAddress('@Model.Account.District', 'district');
                $.getJSON("Assets/json/xa-phuong/" + code + ".json", function (data) {
                    $.each(data, function (key, val) {
                        $("select[name='commune']").append("<option code='" + val.code + "' value='"
                            + val.slug + "'>" + val.name_with_type + "</option>");
                    });
                    BindAddress('@Model.Account.Commune', 'commune');
                });
            });
        });

        CityChange();
        DistrictChange();
    </script>
}
else
{
    <script>
        GetCity();
        CityChange();
        DistrictChange();
    </script>
}