@{
    ViewBag.Title = "Thanh toán";
}

@model Order

<div class="checkout">
    <div class="container">
        <div class="title">
            <h2>Thông tin thanh toán</h2>
        </div>
        <form action="/Order/CheckoutRequest" method="get" onsubmit="Checkout()">
            <div class="d-flex">
                <div style="flex:3">
                    <label>
                        <span class="fname">Họ và tên <span class="required">*</span></span>
                        <input type="text" name="fullName" value="@Model.Account.FullName" required>
                    </label>
                    <label>
                        <span>Số điện thoại <span class="required">*</span></span>
                        <input type="tel" name="phoneNumber" value="@Model.Account.Phone" required>
                    </label>
                    <label>
                        <span>Tỉnh/Thành phố <span class="required">*</span></span>
                        <select name="city" required>
                            <option value="" hidden>Chọn tỉnh/thành phố</option>
                        </select>
                    </label>
                    <label>
                        <span>Quận huyện <span class="required">*</span></span>
                        <select name="district" required>
                            <option value="" hidden>Chọn quận huyện</option>
                        </select>
                    </label>
                    <label>
                        <span>Phường xã <span class="required">*</span></span>
                        <select name="commune" required>
                            <option value="" hidden>Chọn phường xã</option>
                        </select>
                    </label>
                    <label>
                        <span>Địa chỉ chi tiết <span class="required">*</span></span>
                        <textarea name="street" rows="4" required
                                  placeholder="Nhập địa chỉ chi tiết (đường, thôn, ấp, số nhà, ...)">@Model.Account.Address</textarea>
                    </label>
                    <label style="height:50px">
                        <span>Loại địa chỉ <span class="required">*</span></span>
                        <input type="radio" name="shipType" value="home" id="home" checked>
                        <label for="home" class="d-inline" style="line-height: 42px;">
                            Nhà riêng / Chung cư
                        </label>
                        <input type="radio" name="shipType" value="company" id="company">
                        <label for="company" class="d-inline">
                            Cơ quan / Công ty
                        </label>
                    </label>
                    <label>
                        <span>Ghi chú</span>
                        <input type="text" name="noteMessage">
                    </label>

                    <input hidden name="address" value="" />
                    <input hidden name="note" value="" />
                </div>
                <div class="Yorder">
                    <h5>Đơn hàng của bạn</h5>
                    @foreach (var item in Model.OrderDetails)
                    {
                        <div class="row">
                            <div class="col-md-10">
                                <p>@item.Quantity x @item.Product.Name</p>
                            </div>
                            <div class="col-md-2">
                                <p class="float-right price">@Html.DisplayFor(x => item.Total)</p>
                            </div>
                        </div>
                    }
                    <hr>
                    <h5>Tạm tính <span class="float-right price p-r-15">@Html.DisplayFor(x => Model.SubTotal) VNĐ</span></h5>
                    <hr>
                    <h5>
                        Mã giảm giá
                        @if (Model.CouponId != null)
                        {

                            <span class="float-right p-r-15 price">
                                @Model.Coupon.Code (-@((Model.Coupon.Discount*100).Value.ToString("#,###"))%)
                            </span>
                        }
                    </h5>
                    <hr>
                    <h5>Phí vận chuyển <span class="float-right p-r-15 price">Miễn phí</span></h5>
                    <hr>
                    <h5>Tổng tiền <span class="float-right p-r-15 text-danger">@Html.DisplayFor(x => Model.GrandTotal) VNĐ</span></h5>
                    <hr>
                    <h5>Hình thức thanh toán</h5>
                    <div>
                        <input type="radio" name="payment" value="cod" id="cod" checked>
                        <label for="cod" class="d-inline">
                            <img width="32" src="~/Assets/images/icons/icon-payment-method-cod.svg" alt="cod" class="mr-2">
                            Thanh toán khi nhận hàng
                        </label>
                    </div>
                    <div class="pt-2">
                        <input type="radio" name="payment" value="momo" id="momo">
                        <label for="momo" class="d-inline">
                            <img width="32" src="~/Assets/images/icons/icon-payment-method-mo-mo.svg" alt="momo" class="mr-2">
                            Thanh toán bằng ví Momo
                        </label>
                    </div>
                    <div class="pt-2">
                        <input type="radio" name="payment" value="atm" id="atm">
                        <label for="atm" class="d-inline">
                            <img width="32" src="~/Assets/images/icons/icon-payment-method-atm.svg" alt="atm" class="mr-2">
                            Thẻ ATM nội địa/Internet Banking
                        </label>
                    </div>
                    <button type="submit" class="p-t-15">Đặt hàng</button>
                </div>
            </div>
        </form>
    </div>
</div>

@if (Model.Account.City.IsNotBlank())
{
    <script>
        $.getJSON("Assets/json/tinh_tp.json", function (data) {
            $.each(data, function (key, val) {
                $("select[name='city']").append("<option code='" + val.code + "' value='"
                    + val.slug + "'>" + val.name_with_type + "</option>");
            });
            var code = BindAddress('@Model.Account.City', 'city');
            $.getJSON("Assets/json/quan-huyen/" + code + ".json", function (data) {
                $.each(data, function (key, val) {
                    $("select[name='district']").append("<option code='" + val.code + "' value='"
                        + val.slug + "'>" + val.name_with_type + "</option>");
                });
                code = BindAddress('@Model.Account.District', 'district');
                $.getJSON("Assets/json/xa-phuong/" + code + ".json", function (data) {
                    $.each(data, function (key, val) {
                        $("select[name='commune']").append("<option code='" + val.code + "' value='"
                            + val.slug + "'>" + val.name_with_type + "</option>");
                    });
                    BindAddress('@Model.Account.Commune', 'commune');
                });
            });
        });

        CityChange();
        DistrictChange();
    </script>
}
else
{
    <script>
        GetCity();
        CityChange();
        DistrictChange();
    </script>
}